---
---

@import "minima";

/** Editor's Note */
.editors-note {
    background-color: #f9f9f9;
    border-left: 4px solid #ff6600;
    padding: 10px;
    font-style: italic;
    margin-bottom: 20px;
}

.footer-col-1 {
  display: none;
}

.post-list-heading {
  display: none;
}